{% extends 'base/shablon.html' %}  {# соедеинение с шаблоном #}

{% block title %}Доска.BNE.kz{% endblock %}

{% block content %}
    
    <div id="register1"> 
        <h6 id="warning">За некорректный ввод данных админинистрация не несет отвественность, просьба убедится в правильности всех введенных вами форм </h6>
        <h4>{{ main.views.query }} </h4> <form method="post" >  {# Форма отправляет данные при перезагузке страницы и отправляется на ссылку views где раюотает функция сохранения данных #}
            {% csrf_token %} 
            {{ form.FirstName }}<br>   {# форма заполнения для переменной имени #}
            {{ form.SurName }}<br>     {# форма заполнения для переменной фамилии #}
            {{ form.Number }}<br>      {# форма заполнения для переменной номера телефона #}
            {{ form.Age }}<br>         {# форма заполнения для переменной возраста #}
    
            <button id="reg" type="submit">Зарегистрироватья</button>  {# Кнопка перезагружающая страницу при нажатии #}
        </form>
    
    </div>
{% endblock %}